.title {
  font-size: 36px;
}

.subtitle {
  font-size: 18px;
}

@media screen and (min-width: 400px) {
  .title {
    font-size: 46px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: clamp(3rem, calc(4.8vw + 1rem), 8rem);
  }
  .subtitle {
    font-size: clamp(1.2rem, calc(1vw + 0.5rem), 3rem);
  }
}

/* Styling for WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--background); /* Track color */
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground); /* Thumb color */
  border-radius: var(--radius); /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--popover-foreground); /* Thumb color on hover */
}

/* Styling for Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: var(--muted-foreground) var(--background); /* Thumb and track colors */
}

.width-container {
  padding-left: calc(var(--spacing) * 4);
  padding-right: calc(var(--spacing) * 4);
  width: 100%;
  max-width: 100rem;
}

@media screen and (min-width: 1024px) {
  .width-container {
    padding-left: calc(var(--spacing) * 20);
    padding-right: calc(var(--spacing) * 20);
  }
}

/* These styles handle the header and footer spacing */
.page-container {
  padding-left: calc(var(--spacing) * 4);
  padding-right: calc(var(--spacing) * 4);
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1024px) {
  .page-container {
    padding-left: calc(var(--spacing) * 20);
    padding-right: calc(var(--spacing) * 20);
  }
}

/* These styles handle the sections margin */
.section-container {
  margin-top: 40px;
  margin-bottom: 40px; /* Mobile header height */
  max-height: calc(100vh - 40px * 2); /* Mobile header height */
  min-height: calc(100vh - 40px * 2); /* Mobile header height */
}

@media screen and (min-width: 768px) {
  .section-container {
    margin-top: 64px;
    margin-bottom: 64px; /* Desktop header height */
    max-height: calc(100vh - 64px * 2); /* Desktop header height */
    min-height: calc(100vh - 64px * 2); /* Desktop header height */
  }
}
